<!-- src/app/profile-edit/profile-edit.component.html -->
<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="saveProfile()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="Username" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="Email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Birthday</mat-label>
      <input matInput formControlName="Birthday" type="date" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="Password" type="string" />
    </mat-form-field>


    <div mat-dialog-actions>
      <button mat-button type="button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</mat-dialog-content>