<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="editedUser.Username" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="editedUser.Email" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="editedUser.Password" required />
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="saveChanges()">Save</button>
</mat-dialog-actions>
