<!-- src/app/welcome-page/welcome-page.component.html -->
<header>
  <nav>
    <div class="logo">
      <img src="assets/catflix_logo.png" alt="CatFlix Logo" class="logo-img" />
    </div>
    <button mat-raised-button (click)="openUserRegistrationDialog()">
      Sign Up
    </button>
    <button mat-raised-button (click)="openUserLoginDialog()">
      Login
    </button>
  </nav>
</header>
<main>
  <div class="welcome">
    <img src="assets/catflix_img.png" alt="CatFlix welcome image" class="welcome-img" />
  </div>
</main>