<!-- src/app/movie-card/movie-card.component.html -->
<div>
  <nav>
    <button mat-button color="primary" (click)="userProfile()">User Profile</button>
    <button mat-button color="primary" (click)="logout()">Logout</button>
</nav>

<div style="display: flex;">
<mat-card *ngFor="let movie of movies">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img [src]="movie.Img" alt="{{ movie.Title }}" />
      
    <button mat-button color="primary" (click)="openMovieDialog(movie)">View Details</button>
    <button mat-button color="accent" (click)="openCatDialog(movie.Cat)">About the cat</button>
    <button mat-button color="warn" (click)="openGenreDialog(movie.Genre)">Genre: {{ movie.Genre.Name }}</button>
      
    </mat-card-content>
</mat-card>
</div>
</div>