// src/app/movie-cat/movie-cat.component.scss
.h2 {
  font-size: 33px;
}
.italic-text {
  font-style: italic;
}
.cat-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cat-img {
  width: 180px;
  border-radius: 22px;
}
