.h2 {
  font-size: 33px;
}
.italic-text {
  font-style: italic;
}
.movie-img-dialog-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.movie-img-dialog {
  width: 180px;
  border-radius: 22px;
}